@{
    ViewData["Title"] = "Calculator";
}




<div class="search-section">
    <div class="container">
        <h1>Търсене на храна</h1>
        <input type="text" id="searchInput" placeholder="Търсете храна..." onkeyup="showSuggestions(this.value)" autocomplete="off" />
        <div id="suggestions" class="dropdown"></div>

        <h2>Избрани храни:</h2>
        <ul id="selectedFoodsList"></ul>

        <button id="calculateCaloriesButton" onclick="calculateCalories()">Изчисли калориите</button>
        <button id="startNewCalculationButton" onclick="startNewCalculation()" style="display:none;">Друго изчисляване</button>

        <h3>Общо калории за деня: <span id="totalCalories">0</span> kcal</h3>
    </div>
</div>









